<h2>Current Videos:</h2>

<ul>
<% @videos.each do |v| %>
  <li>
    <%= link_to v.name, video_path(v) %> 
		<%= link_to 'Edit', edit_video_path(v) %>
    <%= link_to 'Delete', video_path(v), method: :delete, data: { confirm: "Delete video?"} %>
  </li>
<% end %>
</ul>

<%= link_to 'Create', new_video_path %>