<div class="card my-3">
  <div class="card-header">
    <h5 class="my-1"><%= page.title %></h5>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= page.sanitized_content %></h5>
    <p class="card-text"><%= page.description if page.description.present? %></p>
    <%= link_to 'View', page_path(page), class: 'btn btn-primary' %>
  </div>
</div>
