<h2>Welcome to the Computers for Schools Wiki Site!</h2>
<h3>Latest updates:</h3>

<% @pages.each do |p| %>
<%= link_to page_path(p) do %>
  <div class="card_exterior">
    <div class="card">
      <div class="cardview_container">
        <h3><%= p.title %></h3>
        <%= sanitize preview(p) %>
        
        <i>by <%= p.user.username %></i>
      
      </div>
    </div>
  <% end %>
  </div>
<% end %>