<div id="image_search">
  <%= simple_form_for pdfs_path, method: :get, remote: true do |f| %>
		<%= f.text_field :pdfq, class: 'form-control w-50' %>
		<%= f.submit 'Search', class: 'btn btn-primary btn-sm mx-1'  %>
	<% end %>
</div>