<div id="conversation_container">
	<h3>Conversation for <i><%= page_forum.title %></i></h3>
	<% if page_forum.comments.present? %>
	<%= render partial: 'comments/comment', collection: @page_forum.comments %>
<% end %>

</div>

<style>
#conversation_container {
	background-color: #e6eff4;
	overflow: auto;
	width: 100%;
	height: 50em;
	border: 1px solid black;
}
</style>