/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap";
  @import "summernote-bs4";
  @import "font-awesome-sprockets";
  @import "font-awesome";

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

hr {
  margin-top: 0 !important;
}

 .logo {
  // display: block;
  // width: 249px;
  // height: 100px;
  // padding: 0px;
  // margin: 22px;
  // border: 0;
  // text-decoration: none;
  // background: url(c4smb_logo.png) no-repeat top left;
  // float: left;
  margin: 0.5rem 0;
  float: left;
}

.header_container {
  //background: url(header_container_external_bg.png) repeat-x top center;
  background-color: #016383;
  top: 0px;
  left: 0;
  width: 100%;
  height: 110px;
  padding: 0px 0px 0px 0px;
  margin: 0px auto;
}

.wiki_logo {
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  font-style: italic;
  color: #d4af37;
  float: left;
  padding-top: 58px;
  margin-left: 13px;
  margin-right: 40px;
}

.card-body .btn {
  background-color: #016383;
  border-color: #016383
}

.card-body .btn:hover {
  background-color: #015671;
  border-color: #015671;
}

#side_panel {
  //border-right: 2px solid;
  //border-bottom: 2px solid;
  /* padding: 10px 36px; */
  float: left;
  position: absolute;
  //margin-top: -5px; // need this on windows machines?
  //background: rgb(179, 209, 219);
  background-color: #353535;
  height: 1%;
  width: 1%;
  font-family: Arial;
  z-index: 1000;
  transition: width 0.5s ease, height 0.3s ease-out;
  //transition: height 0.5s ease;
  opacity: 0.9;
}

.side_panel_container {
  height: 100%;
  font-size: 18px;
  color: #FFF;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, width 0.1s;
  border-top: 2px solid #FFF;
  padding-top: 10px;
  overflow-y: scroll;
  background: #353535;
}

#side_panel:hover {
  height: 100%;
  width: 30%;
}

#side_panel:hover .side_panel_container {
  visibility: visible;
  opacity: 1;
}

#side_panel:hover #menu_icon {
  
}

#side_panel:hover #side_menu_nav {
  display: block;
}

#side_menu_nav {
  color: #FFF;
  font-size: 24px;
  position: absolute;
  right: 10px;
  display: none;
  padding: 1rem;
}

#side_menu_nav ul li {
  display: inline;
  margin: 0px 10px;
}

#side_menu_nav ul li a {
  text-decoration: none;
  color: #FFF;
}

#side_menu_nav ul li a:hover {
  color: #d4af37;
}

#side_background {
  //background-color:#5d5d5d;
  background-color: #353535;
  height: 4.2em;
  width: 4.8em;
}


.user_login .btn {
  text-decoration: none;
  color: #d4af37;
}

.user_login ul li {
  list-style: none;
}

#search {
  margin: 6.7em 32em;
}

#search input[type="submit"] {
  background: url(search-regular-24.png) no-repeat;
  height: 30px;
  width: 35px;
  float: left;
  display: inline;
  background-color: lightgrey;
  cursor: pointer;
  border: 0px;
}

#search input[type="submit"]:hover {
  color: #9c9c9c;
}

#search #query {
  width: 20em;
  height: 1.3em;
  font-size: 18px;
  text-indent: 2px;
  padding-top: 2px;
  float: left;
}

#middle_content {
  display: inline;
  position: relative;
  display: block;
  background:#FFFF;
  border: 3px solid rgb(80, 80, 80);
  padding: 10px 25px;
  margin: 0px auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
	width: 60em;
	overflow: auto;
}

footer ul {
  margin: 0px;
}

.header_nav {
  font-family: 'Acme', sans-serif;
  color: #d4af37;
  font-size: 24px;
  position: relative;
  padding-top: 85px;
  float: left;
}


.header_nav ul li {
  display: inline;
  margin: 0px 10px;
  font-family: 'Acme', sans-serif;
}

.header_nav ul li a {
  text-decoration: none;
  color: #d4af37;
}

.container {
  // min-height: 100vh; /* will cover the 100% of viewport */
  // display: block;
  // position: relative;
  /* padding-bottom: 100px; */ /* height of your footer */
  // font-family: roboto_cond_regular_ycdt, Arial;
  background: #E6EFF4;
  // height: 100%;
  // padding-bottom: 10px;
  min-height: calc(100vh - 120px) !important;
  //overflow: auto;
}

footer {
  height: 100px !important;
  background: black !important;
  color:#C2C8CF;
  display: table-row;
  height: 0;
}

html, body {
  margin: 0px auto;
}

.margin_fix {
  margin: 0px auto;
}

// .alert {
//   color: rgb(224, 40, 7);
// }

// .side_panel_container ul:not(first-of-type) {
//   padding-left: 20px;
// }

.side_panel_container ul li {
  padding: 2px 0 2px 0;
  list-style: none;
}

.side_panel_container ul li a {
  text-decoration: none;
  color: #FFF;
}

.side_panel_container ul li a:hover {
  color: #d4af37;
}

.side_panel_container p:hover {
  color: #d4af37;
}

#editor {
	height: 650px;
}

.edit_font {
	font-family: Arial;
}

.form_label {
	font-size: 1.3em;
	font-family: Arial;
}

.text_field {
	width: 100%;
	font-size: 20px;
}

.edit_title {
	font-size: 20px;
}

.form_group {
	margin-top: 25px;
}

.category_label {
  font-size: 1.5em;
  font-family: Arial;
}

.edit_button {
  font-family: Arial;
	text-decoration: none;
	background-color:#156aa4;
	color:#FFFFFF;
	padding: 8px 45px;
	font-size: 22px;
	float: right;
	margin-top: 10px;
}

#show_title {
	font-family: roboto_cond_regular_ycdt, Arial;
	font-size: 30px;
  text-decoration: underline;
	text-align: center;
	margin-top: 30px;
}

#cancel_button {
  margin-right: 10px;
}

#hidden-select-1 {
  
}

#cfs_divider {
  background-color: #7e7d7d;
  min-width: 50%;
  height: 4px;
  border: none;
  margin: 32px 0px;
  position: relative;
  border-radius: 10px;
  display: none;
  
  &:before {
    font-family: cursive;
    content: 'Computers for Schools';
    color: #7e7d7d;
    display: block;
    width: 36%;
    padding: 0.3em;
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    
  }
}

// Custom Summernote height

.note-editable {
  height: 35rem;
}

// .card {
//   //box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
//   //transition: 0.3s;
//   width: 100%;
//   margin: 10px 0px;
//   height: 6em;
// }

// .card:hover {
//   //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//   box-shadow: 3px 7px rgba(0, 0, 0, 0.432);
// }

.cardview_container {
	padding: 0px 16px 2px 0px;
  border: 1px solid black;
  height: 100%;
  background-color: #eaecee;
}

.cardview_container .box_cardview {
  margin-top: 10px;
}

.cardview_container img {
  margin: 18px 0px;
	float: left;
	padding-right: 5px;
}

.cardview_container p {
  margin: 0px;
  display: inline;
}

.card_exterior {
  width: 100%;
  // background: #ffdea3;
  background: #eaecee;
}

.card_exterior a {
  text-decoration: none;
  color: inherit;
}

.cardview_container i {
  text-align: right;
}

.cardview_author {
  float: right;
  margin: 18px 0px;
}

#review-table {
  border-collapse: collapse;
  width: 100%;
  // table-layout: fixed;
}

#review-table th a {
	text-decoration: none;
	color: #FFF;
}

#review-table td, #review-table th {
  border: 1px solid #ddd;
  /* padding: 8px; */
  padding: 3px;
  overflow: hidden;
}


.status-text {
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}

#review-table tr:nth-child(even){background-color: #f2f2f2;}

#review-table tr:hover {background-color: #ddd;}

#review-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #016383;
  color: white;
}

#review-table a {
  text-decoration: none;
  color: #000;
}

.delete-button {
	text-decoration: none;
	background-color:#d60d0d;
	color:#FFFFFF !important;
  float: right;
  border-radius: 2px;
  padding: 5px 8px;
  margin-right: 5px;
}

.review-button {
  text-decoration: none;
	//background-color:#0163DA;
	background-color: #016383;
	color:#FFFFFF !important;
  float: right;
  border-radius: 2px;
  padding: 5px;
	margin-right: 5px;
}

.review-button:hover {
	background-color: #147696;
  cursor: pointer;
}

.review-button:active {
  background-color: #3C9EBE;
}

.errors {
  color: #d60d0d;
}

.hidden {
	/* visibility: hidden; */
	display: none;
}

.video_options, .image_options {
  position: fixed;
  top: 6em;
  margin: 0px auto;
  width: 60em;
  background-color: #353535;
  color: #FFF;
  border: 2px solid #7A7A7A;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.432);
  height: 40em;
  border-radius: 2px;
  z-index: 2000;
}

.category_select {
	position: fixed;
  top: 15em;
  margin: 0px auto;
  background-color: #464748;
  color: #FFF;
  border: 1px solid black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.432);
	border-radius: 2px;
	z-index: 2000;
  width: 46.1em;
  overflow: auto;
}

.category_select button {
  float: right;
}

.category_select .btn {
  margin: 5px;
}

.image_options ul {
  padding: 0;
}

#image_search {
  // margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  /* margin-left: auto; */
  margin: 1rem;
}

#image_search .simple_form {
  float: left;
  display: flex;
  width: 100%;
}

#images, #videos {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: #3e3e3e;
  /* align-self: flex-start; */
  margin: 20px auto;
  /* float: left; */
  border-bottom: 2px solid #767fea;
  border-top: 2px solid #767fea;
  padding: 1rem 0;
}

.images-top {
  display: flex;
}

.images-top .btn {
  margin-left: auto;
}

.image_options_header {
  margin: 0px;
  padding: 0px;
  /* background-color: red !important; */
  /* margin-bottom: 55px; */
  /* background: red; */
  height: 2.5em;
  //background-color: #b97904;
	background-color:#016383;;
	z-index: 2;
}

.image_options_header button {
  float: right;
  border: none;
  /* padding: 13px; */
  background-color: #cf1212;
  color: #ffffff;
  font-size: 20px;
  width: 2em;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  /* text-align: center; */
  cursor: pointer;
}

.image_options_header button:hover {
  background-color: #a30d0d;
}

.image_options_header h2 {
  margin: 0px;
  float: left;
  padding: 8px 0 3px 12px;
}

.image_options_header h4 {
  padding: 0.5rem;
  float: left;
}

.clearfix {
	overflow: auto;
}

.video_options li, .image_options .image-container {
  list-style: none;
  margin: 5px 5px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  float: left;
}

.video_options img, .image_options img {
  border: 1px solid gray;
  align-self: center;
}

.video_options .radio_top, .image_options .radio_top {
  margin-bottom: 2px;
  margin-left: 2px;
}

.video-player {
  margin: 0px auto;
  display: block;
}

.custom-shadow {
  -webkit-box-shadow: 3px 3px 5px 2px rgba(122,122,122,0.57);
  -moz-box-shadow: 3px 3px 5px 2px rgba(122,122,122,0.57);
  box-shadow: 3px 3px 5px 2px rgba(122,122,122,0.57);
}

.admin-td {
  margin: 0.25rem !important;
  background-color: #53708e;
  // cursor: pointer;
}

.admin-item-wrapper {
  height: 100%;
  width: 16rem;
  // padding: 0 5rem !important;
}

.admin-item-wrapper h4 {
  color: #FFF !important;
  text-decoration: none !important;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

#show_video_description {
	margin: 50px;
}

#video_image {
	float: left;
}

// #capture {
// 	position: absolute;
// 	bottom: 10px;
// }

.move_left {
  left: 150px;
}

.icon {
	float: right;
	margin-top: 5rem;
	size: 108px;
}

.video_image_wrapper {
	position: relative;
	width: 196px;
}

.video_preview_icon {
	position: absolute;
	bottom: 12px;
	left: 50px;
}

.link_button {
	text-decoration: none;
	background:#016383;
	color:#FFF;
	padding: 5px 10px;
	border: 0px;
	border-radius: 2px;
	float: right;
}

.link_button:hover {
  // background-color: #FE9C7C;
  background-color: #147696;
  cursor: pointer;
  // box-shadow: 2px 2px rgba(0, 0, 0, 0.432);
  // transition: background-color 0.3s ease-out;
}

.link_button:active {
  background-color: #3C9EBE;
}

.category_ul {

}

.category_ul li {
	list-style: none;
	margin: 5px 0;
}

// .radio_video_wrapper {
// 	float: left;
// }

/* Hide radio */
.video_options [type=radio], .image_options [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Image styles */
.video_options [type=radio] + img, .image_options [type=radio] + img {
  cursor: pointer;
}

/* Checked styles */
.video_options [type=radio]:checked + img, .image_options [type=radio]:checked + img {
  outline: 3px solid #00b7ff;
}

.registration_container {
  text-align: center;
}

.user_form_group {
  margin: 0.6rem 0 0.6rem 0;
}

.user_form_group .user_text_field:focus {
  border-color: #2188ff;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 .2em rgba(3,102,214,.3);
}

.user_text_field {
  border-radius: 2px;
  font-size: 16px;
  height: 25px;
	width: 15em;
  margin-top: 2px;
  text-indent: 2px;
}
.user_label {
  margin-right: 98px;
  font-size: 15px;
	font-weight: bold;
	float: left;
	padding-left: 23.9em;
}

.user_button {
	text-decoration: none;
	background:#016383;
	color:#FFF;
  padding: 5px;
	font-size: 16px;
	float: right;
	margin-right: 22.4em;
	margin-top: 5px;
  padding: 5px 10px;
  border: 0px;
  border-radius: 2px;
}

.user_button:hover {
  // background-color: #FE9C7C;
  background-color: #147696;
  cursor: pointer;
  // box-shadow: 2px 2px rgba(0, 0, 0, 0.432);
  // transition: background-color 0.3s ease-out;
}

.arrow_container {
	float: right;
}

.page_header_font {
	font-size: 12px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

.show_hr {
  opacity: 0.5;
  margin: 0px;
  background: gray;
}

.review_button_fix {
	margin-top: 25px;
	margin-left: 5px;
}

.sorting_options {
	width: 10%;
}

.sorting_options p {
	display: inline;
}

.gen1, .gen2, .gen3, .gen4, .gen5 {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  // font-size: 20px;
}

.root_categories {
  padding-left: 10px;
  padding-top: 10px;
}

.root_categories li {
	list-style: none;
}

.root_categories ul {
  padding-left: 2rem;
}

.gen1 {
  padding-top: 2px;
}

.sorting_arrow:hover {
  color: red;
}

#show_table {
  width: 100%;
}

#show_table h1 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding-top: 34px;
  padding-left: 15px;
}

#page_header {
  overflow: auto;
}

.show_img {
  float: left;
}

.show_row_top {
  width: 100%;
  height: 120px;
}

.show_row_bottom {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
}

.show_row_bottom h1 {
  text-align: center;
}

.show_img img {
  width: 80%;
}

.show_info {
  float: right;
}

.show_info a {
  float: right;
  padding: 5px 10px;
}

#show_container {
  margin: 0 3.5em;
}

.quill_image_container {

}

.quill_image_container img {
  display: inline;
  border: 1px solid #000;
}

.image_resize_slider {
  display: inline;
  padding: 0px;
  margin: 0px;
  margin: 0px auto;
  width: 100%;
}

#pages {
  // float: left;
  width: 80%;
  margin: 0 auto;
}

.next_page {
  float: right;
  margin-top: 19.5em;
}


/* Dropdown menu */

.dropdown li {
  display: block;
  transition-duration: 0.5s;
 }
 
 .dropdown li:hover {
   cursor: pointer;
 }
 
 .dropdown ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: all 0.5s ease;
   margin-top: 1rem;
   left: 0;
   display: none;
 }
 
 .dropdown ul li:hover > ul,
 .dropdown ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
 }
 
 .dropdown ul li ul li {
   clear: both;
   width: 100%;
 }



/* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(29, 13, 13);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 50%;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 50%; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 50%; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 50%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.svg_position {
  display: none;
  visibility: hidden;
}

.quill-image-container {
  border: 1px solid black;
  display: inline-block;
  background-color: #464748;
  padding: 3px 3px 0px 3px;
  float: right;
}

.pagination {
  text-align: center;
  float: right;
  width: 100%;
}

.media_options_wrapper {
  bottom: 0px;
  position: absolute;
  right: 0;
  margin: 5px;
  width: 100%;
}

.media_options_upload {
	text-decoration: none;
	color: #000;
	font-size: 13px;
	border: 1px solid #9c9c9c;
	background-color: #e9e9e9;
	padding: 3px 5px 1px 5px;
	margin-left: 3px;
	cursor: default;
}

.media_options_upload_wrapper {
	padding-top: 2px;
}

.pagination a {
	text-decoration: none;
	color: #7C8893;
}

#notifications {
	float: right;
	margin-top: 7em;
	background: #016383;
	position: absolute;
	right: 0;
	top: 2.4em;
	display: none;
	width: 15em;
	z-index: 1;
}

#review_message {
	color: red;
}

@media (max-width: 1440px) {
	#search {
    margin: 6.7em 0em;
	}

	#search #query {
    width: 18em;
    height: 1.3em;
    font-size: 18px;
    text-indent: 2px;
    padding-top: 2px;
    float: left;
	}

	#side_panel:hover {
		height: 100%;
		width: 40%;
	}
}

@media (max-width: 1024px) {
	#side_panel:hover {
		height: 100%;
		width: 100%;
	}
}

#notifications a {
	color: #FFF;
	text-decoration: none;
}

#notifications li {
	list-style: none;
	padding: 5px 0;
}

#notification_bell li {
  list-style: none;
}

#conversation_container {

}

#comment-editor {
	height: 8em;
}
