/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .logo {
  display: block;
  width: 249px;
  height: 100px;
  padding: 0px;
  margin: 22px;
  border: 0;
  text-decoration: none;
  background: url(c4smb_logo.png) no-repeat top left;
  float: left;
}

.header_container {
  background: url(header_container_external_bg.png) repeat-x top center;
  top: 0px;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 0px 0px 0px 0px;
  margin: 0px auto;
}

.wiki_logo {
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  font-style: italic;
  color: #d4af37;
  float: left;
  padding-top: 45px;
  margin-left: -12px;
  margin-right: 40px;
}

#side_panel {
  border-right: 2px solid;
  /* padding: 10px 36px; */
  float: left;
  position: absolute;
  margin-top: -5px;
  background: rgb(179, 209, 219);
  height: 100%;
}

.user_login a {
  text-decoration: none;
  color: #d4af37;
}

.user_login {
  float: right;
  margin: 70px 60px;
  position: absolute;
  top: -72px;
  right: -40px;
}

.middle_content {
  display: inline;
  position: relative;
  overflow: hidden;
  display: block;
  background:#FFFF;
  border: 3px solid#d4af37;
  padding: 10px 25px;
  margin: 10px 300px 10px 185px;
}

.model_list {
  padding-left: 7px;
}

.model_list li, .make_list li {
  list-style: none;
}

.model_item {
  padding: 2px 0px;
}

.makes {
  padding: 2px 0;
}

.side_panel_container {
  margin: 12px 55px 12px 10px;
}

.make_list {
  padding-left: 5px;
  margin: 2px 0;
}

footer {
  background: rgba(0,0,0,0.8) none repeat scroll 0% 0%;
  width: 100%;
  padding: 0px !important;
  margin-top: 20px !important;
  bottom: 0px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color:#C2C8CF;
  position: absolute;
  height: 100px;
}

.header_nav {
  font-family: 'Acme', sans-serif;
  color: #d4af37;
  font-size: 24px;
  position: relative;
  padding: 85px;
}


.header_nav ul li {
  display: inline;
  margin: 0px 10px;
  font-family: 'Acme', sans-serif;
}

.header_nav ul li a {
  text-decoration: none;
  color: #d4af37;
}

.container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
  font-family: roboto_cond_regular_ycdt, Arial;
  background: #E6EFF4;
}

html, body {
  height: 100%;
  position: relative;
  margin: 0px auto;
}

.margin_fix {
  margin: 0px auto;
}
















#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}