<h5>Editing <i><%= @category.name %></i></h5>
<hr>

<%= render 'category_form' %>

<div class="btn-group-sm btn-group float-right ml-1" role="group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete</button>
  <div class="dropdown-menu">
    <%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: "Delete #{@category.name}? All child categories and pages will be deleted as well."}, class: 'dropdown-item' %>
  </div>
</div>
