<style>
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #202020; */
  background-color: #2e2e2e;
  overflow-x: hidden;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
    <!-- Sidebar -->
    <nav class="sidebar text-light">
        <div class="sidebar-header p-3">
            <h4 class="py-3 px-2">Computers for Schools</h4>
        </div>
        <div class="d-block d-md-none px-3">
          <%= render 'layouts/search' %>
        </div>
        <div id="category_menu" class="px-3">
        <%= render partial: 'category_select', locals: { is_form: false } %>
        </div>
    </nav>


<script>

</script>
