<% if flash[:notice].present? %>
  <script>
  window.onload = function myFunction() {
    var snackbar = document.getElementById("snackbar");
    snackbar.className = "show";
    setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);
  }
  </script>
<% end %>

<div id="snackbar"><%= flash[:notice] %></div>
