<h5>Editing Draft for <i><%= @page.title %></i></h5>
<hr>
<% if @draft.comments.present? %>
<p>Supervisor comments</p>
<div class="alert alert-warning" role="alert">
  <%= @draft.comments %>
</div>
<% end %>
<%= render 'form', draft: @draft %>
<%= link_to @draft, class: 'btn btn-secondary back-button' do %><box-icon name='arrow-back' class='back-button-icon'></box-icon><% end %>
