<div id="images_container">
    <h3>New Image</h3>
    <hr>
    <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <%= render 'form', image: @image %>
    </div>
    <div class="col-3"></div>
    </div>
</div>
